$black: #555B6E;
$purple: #B5B6D7;
$blue: #9AD5CA;
$green: #AAFAC8;
$grey: #BBC8CA;
$white: #FFFFFF;
$orange: #FF7B00;

$darkPurple: #62466B;
$darkGreen: #56A081;
$darkGrey: #9B9B93;
$darkBlack: #282828;

$map: #00ffe6;
