.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav a {
  border: none;
  background: black;
  border-right: 1px solid white;
  border-left: 1px solid white;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    height: 50px;
    line-height: 50px;
  }

  /* Option 1 - Display Inline */
  .nav li {
    width: 220px;
    display: inline-block;
    margin-right: -10px;
  }
}











/* .nav {
  background: rgba(5,5,5,.5);
  width: 100%;
  margin: 0 auto;
}

#menu ul li {
  display: inline-block;
float: left;
}

background color set to RGBA, with opacity on 0.3 and also using text-shadow
#menu ul li a {
  padding: 20px;
  background: rgba(5,5,5, 0.8);
  text-decoration: none;
}

hover state shows a linear gradient and opacity it brought down to 0.9 and also shows a very slight grey gradient on top
#menu ul li a:hover {
background: -webkit-linear-gradient(bottom right, rgb(159,237,112) 0%, rgb(94,83,73) 72%);
background: -o-linear-gradient(bottom right, rgb(159,237,112) 0%, rgb(94,83,73) 72%);
background: linear-gradient(to top left, rgb(159,237,112) 0%, rgb(94,83,73) 72%);
  background-color:rgb(94,83,73);
  -moz-opacity:.90;
  filter:alpha(opacity=90);
  opacity:.90;
}
 */
