body#bg {
  background: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-style {
  max-width: 650px;
  margin: 0 auto;
}

.half-col {
  width: 50%;
  float: left;
}
