*, :before, :after {
  box-sizing: border-box;
}

body#bg {
  background: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-style {
  max-width: 650px;
  margin: 0 auto;
}

.half-col {
  width: 50%;
  float: left;
}


@media screen and (min-width: 600px) {
  .nav li, input[type="button"] {
    width: 120px;
    height: 50px;
    line-height: 50px;
  }

  /* Option 1 - Display Inline */
  .nav li, input[type="button"] {
    width: 220px;
    display: inline-block;
    margin-right: -10px;
  }
}
