.nav {
  margin-top: 2px;
}

.nav ul {
  list-style: none;
  background-color: $grey;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 2px solid $black;
}

.nav a {
  background: $black;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
  color: $white;
  display: block;
  transition: .3s background-color;
}

.nav a:hover, input[type='button']:hover, input[type='submit']:hover {
  background-color: $darkGreen;
}

.nav a:hover {
  border-bottom: 2px solid $black;
}

//hard coded...oops
input[type='submit'], input[type='button'] {
  border: none;
  transition: .3s background-color;
  background: $black;
  color: $white;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  border-left: 1px solid $white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  font-size: 20px;
}

.location-div {
  width: 90%;
  height: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid $black;
  background: rgba($purple, 0.7);
  display: none;
}

.favorites-div {
  width: 90%;
  height: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid $black;
  background: rgba($purple, .7);
  display: none;
}
