{{#if user}}

  <div id="map-canvas"></div>

  <nav>
    <div class="nav">
      <ul>
        <li><input type="button" value="&laquo; Default Map" onclick="initialize()"></li>
        <li><a href="#zip">Change Location</a></li>

        <li><a href="#filter" id="foo">Filter</a></li>

        <li><a href="#" id="location-link" style="cursor: pointer;">Add a Location</a></li>

        <li><a href="#" id="favorites-link" style="cursor: pointer;">Favorites</a></li>
      </ul>
    </div>
  </nav>

{{/if}}


<!-- SEARCH -->
<div id="zip" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Enter an Address</h2>
      <form method="get" id="chooseAddress">
        Type in a city, state, zip code or address
          <p>
          <input id="address" type="text" placeholder="Location Here">
          </p>
          <input type="submit" class="submit" value="Submit" onclick="codeAddress()">
      </form>
  </div>
</div>

<!-- FILTER -->
<div id="filter" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Filter by Price</h2>
    <form method="get">
      $ <input type="textbox" id="price" placeholder="Enter a price">
      </p>
        <input type="submit" class="submit" value="Filter" id="submitPrice">
      </p>
    </form>
	</div>
</div>

<!-- ADD LOCATION -->
<div class="location-div">
  <p>
    <u>STRETCH GOAL: Didn't complete</u>
  </p>
  Add form here :)
</div>


<!-- FAVORITES -->
<div class="favorites-div">
  {{#if favorites}}
  <!-- //if favorites -->
    <p><b>STRETCH GOAL: Didn't complete</b></p>
    display favorites<br>
    option to route to one
  {{else}}
    <p>
      <u>STRETCH GOAL: Didn't complete</u>
    </p>

    <p>
      Display favorites with route option
    </p>

    <p>
    You haven't selected any favorites yet! To select a favorite click the ♥ symbol on the parking lot you want to save.
    <p>
  {{/if}}
</div>
