{{#if user}}

  <div id="map-canvas"></div>

  <nav>
    <div class="nav">
      <ul>
        <li class="home"><a href="#">Change Zip</a></li>
        <li class="tutorials"><a href="#">Filter</a></li>
        <li class="about"><a href="#">Add a Location</a></li>
        <li class="news"><a href="#">Favorites</a></li>
      </ul>
    </div>
  </nav>

{{/if}}
