<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GMKEY></script>
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/search.js"></script>
  </head>
  <body id="bg">
  </body>
</html>
