/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, :before, :after {
  box-sizing: border-box; }

body#bg {
  background: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.main-style {
  max-width: 650px;
  margin: 0 auto; }

.half-col {
  width: 50%;
  float: left; }

@media screen and (min-width: 600px) {
  .nav li, input[type="button"] {
    width: 120px;
    height: 50px;
    line-height: 50px; }
  /* Option 1 - Display Inline */
  .nav li, input[type="button"] {
    width: 220px;
    display: inline-block;
    margin-right: -10px; } }

#map-canvas {
  margin-top: -65px;
  width: 100%;
  height: 400px;
  background-color: #9B9B93;
  border: 2px solid #555B6E; }

.firstHeading {
  color: #56A081;
  border-bottom: 1px solid #56A081; }

#bodyContent {
  color: #62466B; }

.nav {
  margin-top: 2px; }

.nav ul {
  list-style: none;
  background-color: #BBC8CA;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 2px solid #555B6E; }

.nav a {
  background: #555B6E;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  transition: .3s background-color; }

.nav a:hover, input[type='button']:hover {
  background-color: #56A081; }

.nav a:hover {
  border-bottom: 2px solid #555B6E; }

input[type='button'] {
  border: none;
  transition: .3s background-color;
  background: #555B6E;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  border-left: 1px solid #FFFFFF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  font-size: 20px; }

.location-div {
  width: 90%;
  height: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #555B6E;
  background: rgba(181, 182, 215, 0.7);
  display: none; }

.favorites-div {
  width: 90%;
  height: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #555B6E;
  background: rgba(181, 182, 215, 0.7);
  display: none; }

button {
  border: 1px solid #555B6E;
  color: #555B6E;
  border-radius: 3px;
  padding: 10px;
  background: #FFFFFF; }

input.submit {
  border: 1px solid #555B6E; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #555B6E; }

p {
  margin-bottom: 1.3em;
  color: #555B6E; }

.logout {
  float: right;
  margin-right: 40px; }

.uppercase {
  text-transform: uppercase;
  color: #FFFFFF; }

.login {
  text-align: center; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h5, h6 {
  font-weight: bold; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.763em;
  font-weight: bold; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

ul {
  list-style: none; }

table {
  width: 100%; }

thead {
  text-align: left;
  font-weight: bold; }

tr:nth-of-type(even) {
  background: rgba(85, 91, 110, 0.3); }

blockquote {
  padding-left: 60px;
  border-left: #B5B6D7 solid 20px;
  margin-bottom: 20px; }

nav a {
  position: relative;
  display: inline-block;
  /* 	margin: 15px 25px; */
  outline: none;
  color: #56A081;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em; }

nav a:hover,
nav a:focus {
  outline: none; }

.cl-effect-21 a {
  padding: 10px;
  color: #FFFFFF;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }

.cl-effect-21 a::before,
.cl-effect-21 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

.cl-effect-21 a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

.cl-effect-21 a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px); }

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  color: #FFFFFF; }

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

a {
  color: #56A081;
  text-decoration: none;
  border-bottom: 2px solid #555B6E;
  transition: 300ms ease all; }

a:hover {
  border-bottom: 2px solid #56A081; }

.main-header {
  width: 100%;
  height: 200px; }

.main-nav {
  border: 2px solid #555B6E;
  width: 100%;
  padding: 20px;
  background-color: rgba(85, 91, 110, 0.7);
  position: fixed; }
  .main-nav a {
    color: #9AD5CA;
    border-bottom: none; }

button {
  border: 1px solid #555B6E;
  color: #555B6E;
  border-radius: 3px;
  padding: 10px;
  background: #FFFFFF; }

input.submit {
  border: 1px solid #555B6E; }

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(85, 91, 110, 0.6);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px;
  border-radius: 10px;
  background: #BBC8CA;
  border: 1px solid #555B6E; }

.modalInfo {
  border: 1px solid #555B6E;
  margin-left: -10px; }

.close {
  line-height: 25px;
  position: absolute;
  right: 15px; }

form {
  width: 100%; }

textarea, input[type='text'] {
  width: 100%;
  border: 1px solid #555B6E;
  transition: 300ms ease all;
  outline: none;
  padding: 20px;
  margin-bottom: 20px; }

textarea:focus, input[type='text']:focus {
  border: 1px solid #555B6E; }

textarea {
  min-height: 250px; }

label {
  font-weight: bold; }

input .address {
  margin-bottom: 10px; }
